################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/keillogo/v16/.suo
/.vs/keillogo/v16
/.vs/keillogo/config/applicationhost.config
